<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.binaryit.faruqtraders">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.FaruqTraders"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".Activities.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LostPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AccountDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CheckoutNextActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CategoryWiseProductActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EachProductActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AllCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EachCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TopCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>